<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <span class="pull-right">
          <a [routerLink]="'new'" class="btn btn-success"> New Contact </a>
        </span>
        <div class="col-xs-4"><h2 class="contact-head">Contacts</h2></div>
      </div>
    </div>
  </div>
  <div class="row panel-body">
    <div class="col-md-12">
      <cms-contact-item
        *ngFor="let contact of contacts"
        [contactItem]="contact"
      ></cms-contact-item>
    </div>
  </div>
</div>
